div.imgholder{
  width: 150px;
  text-align: center;
}

div.imgholder img{
  max-width: 150px;
  max-height: 150px;
}

div.selector input[type=text]{
  margin-bottom: 20px;
}

div.selector{
  margin-bottom: 20px;
}
