.form-control{
  display: inline-block;
  width: auto;
  margin-right: 5px;
}

.leadFilters{
  margin-bottom: 10px;
}

.label.label-default{
  margin-right: 5px;
  font-weight: 400;
  font-size: 85%;
  padding: .3em .6em .3em;
}
.label.label-default a{
  color: white;
}

.media, .media-body{
  overflow: visible;
}

.datepickercont{
  display: inline-block;
  width: 150px;
  vertical-align: bottom;
}

.leadActions{
  margin: 5px 0 10px;
}

.lead-item .well{
  margin-bottom: 0;
}
