.form-control{
  display: inline-block;
  width: auto;
  margin-right: 5px;
}

.label.label-default{
  margin-right: 5px;
  font-weight: 400;
  font-size: 85%;
  padding: .3em .6em .3em;
}
.label.label-default a{
  color: white;
}

.media, .media-body{
  overflow: visible;
}

.datepickercont{
  display: inline-block;
  width: 150px;
  vertical-align: bottom;
}

.leads .actions {
  margin: 5px 0 10px;
}

.leads .actions .btn-primary{
  float: right;
}

.lead-item .actions{
  margin-bottom: 10px;
}

.lead-item .well{
  margin-bottom: 0;
}

.modal-body .alert{
  margin: 10px 0 0;
}

.modal-body .form-control{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.modal-body textarea{
  height: 150px;
}

.leads{
  margin-bottom: 20px;
}
